@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Delius+Unicase&family=Gotu&family=Handlee&family=Syncopate&family=Text+Me+One&display=swap');

/* font-family: 'Chakra Petch', sans-serif;

font-family: 'Delius Unicase', cursive;

font-family: 'Gotu', sans-serif;

font-family: 'Handlee', cursive;

font-family: 'Syncopate', sans-serif;

font-family: 'Text Me One', sans-serif; */

#header h1{
    
    font-family: 'Delius Unicase', cursive;
    
    /* font-family: 'Gotu', sans-serif; */
    
    /* font-family: 'Syncopate', sans-serif; */
    
    /* font-family: 'Text Me One', sans-serif; */
    letter-spacing: 10px;
    margin-top: 50px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url('/assets/gradienta-LeG68PrXA6Y-unsplash\(1\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid-container{
    display: grid;
    /* grid-gap: 5px; */
    grid-template-rows: auto;
    grid-template-columns: 4.5fr 1.5fr;
    grid-template-areas:
    'header header'
    'main aside'
    'footer footer'
}

#header {
    grid-area: header;
    /* background-color: brown; */
    height: 15vh;
    text-align: center
}

#main {
    grid-area: main;
    /* background-color: blue; */
    text-align: justify;
}

#aside {
    font-family: 'Chakra Petch', sans-serif;
    grid-area: aside;
    /* background-color: red; */
    text-align: center;
}

#footer {
    grid-area: footer;
    /* background-color: maroon; */
    text-align: center;
    /* padding-top: 3rem; */
    border: 3px solid black;
}
.arrow{
    /* border: 2px solid black; */
    /* box-shadow: 0 0 3px black;
    border-radius: 50%; */
    width: 3rem;
    text-align: center;
    position:fixed;
    z-index: 1;
    top: 92vh;
    right: 1vw

}
.main-div{
    padding: 20px;
}

ul{
    display: inline-block;
    text-align: left;
    line-height: 2rem;
    /* border: 2px solid black; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
    padding: 40px;
    /* list-style-type: none; */
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color:black;
}

img{
    display: block;
    height: 150px;
    /* border-radius: 50%; */
}

/* .aside-div{
    border: 2px solid black;
    height: 50vh;
    width: 60%;
    
} */

.nav{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex-item{
    border: 2px solid black;
    width: 100px;
}

.contact-form{
    display: block;
    margin: 20px;
    border: 2px solid black;
    padding: 10px 0;
}
.contact-form input, .contact-form textarea, .contact-form button{
    margin: 5px;
}
.contact-form input:focus, .contact-form textarea:focus{
    box-shadow: 0 0 3px black;
    outline: 0;
}
.contact-form button {
    border-radius: 4px;
    display: block;
}
.contact-form button:hover{
    box-shadow: 0 0 5px black;
}


.links, .fa-solid{
    font-size: 3rem;
}

.fa-arrow-up{
    font-size: 2rem;
}

@media only screen and (min-width: 1200px){
    .nav{
        width: 25%;
    }
}

@media only screen and (max-width: 600px){
    #header h1{
        margin: 10px;
        letter-spacing: normal;
    }
    .nav{
        flex-direction: row;
    }
    ul{
        width: 100vw;
        border-radius: 0;
        box-shadow:none;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'main'
        'aside'
        'footer'
    }
}