*{
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-areas:
    'header header header header'
    'main main main aside'
    'footer footer footer footer'
}

#header {
    grid-area: header;
    background-color: brown;
}
#main {
    grid-area: main;
    background-color: blue;
    text-align: justify;
}
#aside {
    grid-area: aside;
    background-color: red;
    text-align: center;
}
#footer {
    grid-area: footer;
    background-color: maroon;
    text-align: center;
    padding-top: 1rem;
}

ul{
    display: inline-block;
    text-align: left;
}

a{
    text-decoration: none;
}
a:link, a:visited {
    color:black;
}

img{
    height: 150px;
    /* border-radius: 50%; */
}
form{
    display: block;
}


.links, .fa-solid{
    font-size: 3rem;
}

.fa-arrow-up{
    float:right;
    padding: 1rem;
}

@media only screen and (max-width: 600px){
    .grid-container{
        grid-template-areas: 
        'header header header header'
        'main main main main'
        'aside aside aside aside'
        'footer footer footer footer'
    }
}